<footer th:fragment="footer" class="bg-light text-muted py-4" xmlns:th="http://www.thymeleaf.org">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-0">&copy; 2025 Michael, Inc. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a th:href="@{/legal/privacy}" class="text-muted">Privacy</a></li>
                        <li class="list-inline-item"><a th:href="@{/legal/terms}" class="text-muted">Terms</a></li>
                        <li class="list-inline-item"><a th:href="@{/legal/contact}" class="text-muted">Contact</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="text-center small">
                <p class="mb-1">Email: michaela00u@gmail.com </p>
       
            </div>
        </div>
</footer>
